APP_PORT=8080
APP_NAME=appointments
APP_DEBUG=false
DB_CONNECTION=postgres
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=appointments
DB_USERNAME=appointments
DB_PASSWORD=change_me_strong_password
TOKEN_SECRET_KEY=change_me_to_a_32_char_random_string
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
MIGRATION_URL=file://migrations
